#account-page.account-page
  .account-page__inner.clearfix
    .account-page__inner--left.account-page__header
      %h2 Twitter
      %h5 アカウントの編集
      = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'
      = link_to "トップページに戻る", root_path, class: 'btn'
      %br
      %br
      %br
      %h5 アカウントの削除
      #{button_to "アカウントを削除する", registration_path(resource_name), class: "btn btn-default", data: { confirm: "本当に削除してよろしいですか?" }, method: :delete}
      %br/

    .account-page__inner--right.user-form
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        = devise_error_messages!

        .field
          .field-label
            = f.label :icon, value: "アイコン画像"
          .field-input
            = f.file_field :icon

        .field
          .field-label
            = f.label :wallpaper, value: "壁紙画像"
          .field-input
            = f.file_field :wallpaper

        .field
          .field-label
            = f.label :nickname, value: "ニックネーム"
            %p.login-p 同じニックネームが既に使われている場合は登録できません
          .field-input
            = f.text_field :nickname, autofocus: true

        .field
          .field-label
            = f.label :username, value: "ユーザーネーム"
            %p.login-p 半角英数字、ハイフン( - )、アンダーバー( _ )のみ使用可能です
          .field-input
            = f.text_field :username, autofocus: true

        .field
          .field-label
            = f.label :introduction, value: "自己紹介"
          .field-input
            = f.text_field :introduction, autofocus: true

        .field
          .field-label
            = f.label :email
          .field-input
            = f.email_field :email
        .field
          .field-label
            = f.label :current_password, value: "現在のパスワード"
            %i (必須)
          .field-input
            = f.password_field :current_password, autocomplete: "off"
        .field
          .field-label
            = f.label :password, value: "新しいパスワード"
            %i (変更しない場合は空白)
          .field-input
            = f.password_field :password, autocomplete: "off"
        .field
          .field-label
            = f.label :password_confirmation, value: "新しいパスワードの確認"
            %i (変更しない場合は空白)
          .field-input
            = f.password_field :password_confirmation, autocomplete: "off"
        .actions
          = f.submit "Update", class: 'btn'
