.left-content

  =link_to user_path(current_user) do
    .left-profile
      - if current_user.wallpaper.present?
        = image_tag(current_user.wallpaper.url, class: "left-cover")
      - else
        .left-cover

      .left-body
        .left-photo
          - if current_user.icon.present?
            = image_tag(current_user.icon.thumb.url, class: "left-photo-icon")
          - else
            .glyphicon.glyphicon-camera

        .left-user
          %h4.left-user-nickname
            = current_user.nickname
          %h5.left-user-username
            = "@" + current_user.username
        .left-tweet
          %ul
            %li
              %p ツイート
              %p.left-number #{current_user.tweets.count.to_s}
            %li
              %p フォロー
              %p.left-number #{current_user.followings.count}
            %li
              %p フォロワー
              %p.left-number #{current_user.followers.count}

  .left-weather
    #test
    #city-name
    #weather
