= link_to tweet do
  .tweets-wrapper.btn
    = link_to user_path(tweet.user) do
      %h4.tweets-nickname= tweet.user.nickname
      %h5.tweets-username= "@" + tweet.user.username
    %p.tweets-content= tweet.content
    %p.tweets-content
      - if tweet.image.present?
        = image_tag(tweet.image)
    %h5.tweets-time= tweet.created_at.strftime("%Y/%m/%d %H時%M分")

    - if current_user.likes.find_by(tweet_id: tweet.id)
      = link_to unlike_path(tweet.id), method: :delete do
        .btn.btn-default.glyphicon.glyphicon-heart
          = tweet.likes.count.to_s
    - else
      = link_to like_path(tweet.id), method: :post do
        .btn.btn-default.glyphicon.glyphicon-heart-empty
          = tweet.likes.count.to_s

    = link_to :back do
      .btn.btn-default.glyphicon.glyphicon-retweet

    .btn-group
      - if tweet.user.id == current_user.id
        = link_to '編集', edit_tweet_path(tweet), class: "btn btn-default"
        = link_to '削除', tweet, method: :delete, class: "btn btn-default", data: { confirm: 'このツイートを本当に削除しますか?' }
