= render 'tweets', tweet: @tweet

%br
  %ul.nav.nav-tabs
    %li.nav-item
      %a.nav-link{ href: "#reply-index", "data-toggle": "tab"}
        リプライ
    %li.nav-item.active
      %a.nav-link{ href: "#like-index", "data-toggle": "tab"}
        いいね
        #{@liking_users.count.to_s}
    %li.nav-item
      %a.nav-link{ href: "#retweet-index", "data-toggle": "tab"}
        リツイート

  .tab-content
    #reply-index.tab-pane
      実装予定
    #like-index.tab-pane.active
      - @liking_users.each do |user|
        = link_to user_path(user) do
          %h4.tweets-nickname= user.nickname
          %h5.tweets-username= "@" + user.username
          .clear
    #retweet-index.tab-pane
      実装予定

