%p#notice= notice

%h4= @tweet.user.nickname
%h5= "@" + @tweet.user.username
%p= @tweet.content
%br/

= link_to root_path do
  .btn.btn-default.glyphicon.glyphicon-heart
= link_to root_path do
  .btn.btn-default.glyphicon.glyphicon-retweet

.btn-group
  - if @tweet.user.id == current_user.id
    = link_to '編集', edit_tweet_path(@tweet), class: "btn btn-default"
    = link_to '削除', @tweet, method: :delete, class: "btn btn-default", data: { confirm: 'このツイートを本当に削除しますか?' }
  = link_to 'Back', tweets_path, class: "btn btn-default"
