.mypage
  %h2= @user.nickname
  %h3= "@" + @user.username

  - if @user.id == current_user.id
    = link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn btn-default"
    %br
    %br

  = render 'users/follow'
  %br
  %br

  = "いいねされた総数：" + @liked.to_s
  %br
  %br

  %ul.nav.nav-tabs
    %li.nav-item.active
      %a.nav-link{ href: "#tweet-index", "data-toggle": "tab"}
        ツイート
        #{@tweets.count.to_s}
    %li.nav-item
      %a.nav-link{ href: "#like-index", "data-toggle": "tab"}
        いいね
        #{@user.likes.count.to_s}

  .tab-content
    #tweet-index.tab-pane.active
      = render partial: 'tweets/tweets', collection: @tweets, as: :tweet
    #like-index.tab-pane
      = render partial: 'tweets/tweets', collection: @like_tweets, as: :tweet
