!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TweetTech
    = csrf_meta_tags
    = stylesheet_link_tag    'application', debug: true, media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', debug: true 'data-turbolinks-track': 'reload'
  %body
    = render 'layouts/header'
    %p#notice= notice
    = yield
